apiVersion: v1
kind: Service
metadata:
  name: {{ include "wordpress.fullname" . }}-mariadb
  labels:
    app: {{ include "wordpress.name" . }}
    chart: {{ include "wordpress.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  ports:
    - port: 3306
  selector:
    app: {{ include "wordpress.name" . }}
    release: {{ .Release.Name }}
