# Default values for app.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: 441592700969.dkr.ecr.us-east-1.amazonaws.com/my-jenkins-app
  pullPolicy: Always
  tag: 'latest'  # Set the desired WordPress image tag

imagePullSecrets:
  - name: ecr-registry

nameOverride: ''
fullnameOverride: ''

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''

service:
  type: NodePort
  port: 3000
  nodePort: 32000

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

nodeSelector: {}
tolerations: []
affinity: {}
