# Default values for wordpress.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: wordpress
  pullPolicy: IfNotPresent
  tag: 'latest'  # Set the desired WordPress image tag

imagePullSecrets: []

nameOverride: ''
fullnameOverride: ''

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ''

service:
  type: NodePort
  port: 80
  nodePort: 32000

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
